.volver {
    background-color: red;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
}
 .volver--nuevo {
     @extend .volver;
     background-color:  rgb(161, 43, 43);
 }
